*{
    margin: 0px;
    padding: 0px;
}
.container{
    width:88%;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 20px;
}
h1{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
#address{
    background-color: #414467;
    color: white;
    border: 0px;
    border-radius:7px 0 0 7px ;
}
button{
    border: 0px;
    border-radius:7px 0 0 7px ;
}
.container2{
    display: flex;
    margin-top: 35px;
    /* border:1px solid */
}
.left{
    flex:1.5;
    /* border:1px solid ; */
    margin-right: 60px;
}
.right{
    flex:1;
    /* border:1px solid  */
}
.innerflex{
    display: flex;
    justify-content: space-between;
}
#card{
    border: 1px solid rgb(216, 207, 207);
    padding: 20px;
}
.green{
    border: 3px solid rgb(0,125,118);
    margin-top: 3px;
}
/* h2{
    border-bottom: 1px solid ;
} */

.font{
    font-size: 14px;
}
.addresscontainer{
    display: flex;
    flex-direction: column;
}